@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #2C2C2C;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

/* HEADER --------------------*/
.header-inner {
    display: flex;
    justify-content: space-between;
    margin: 46px 0 17px;
}

.header-inner a:hover {
    filter: invert(46%) sepia(73%) saturate(2564%) hue-rotate(349deg) brightness(99%) contrast(91%);
}

.header-logo {
    width: 180px;
    margin: 5px 0;
}

.header-logo a {
    display: flex;
    align-items: center;
}

.header-logo svg {
    flex-shrink: 0;
}

.header-logo img {
    margin-right: 8px;
}

.header-logo svg {
    margin-right: 8px;
    width: 53px;
    height: 47px;
}

.header-logo p {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo p span {
    font-weight: 700;
    font-size: 29px;
}

.header-contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* MAIN --------------------*/

main {
    padding-bottom: 33px;
}

.tours-grid {
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 60px;
    grid-row-gap: 37px;
}

.tour-picture {
    display: inline-block;
    width: 300px;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.tour-details {
    width: 100%;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    left: 0;
    bottom: -55px;
    transition: 0.5s;
    color: #FFF;
}

.tour-details-inner {
    padding: 7px 16px 12px;
}

.tour-details-inner > p {
    /*padding: 0;*/
    font-size: 10px;
}

.tour-details-price {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.tour-details-price p:last-child:after {
    content: ">";
    color: #FFF;
    margin-left: 16px;
}

.tours-grid-item a:hover {
    color: #F26522;
}

.tours-grid-item a:hover .tour-details {
    left: 0;
    bottom: 0;
}

.tours-grid-item a > p {
    padding-top: 20px;
    text-align: center;
    text-transform: capitalize;
}

/* FOOTER --------------------*/
footer {
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
}