.GoodContainer {
  display: flex;
  background: #fff;
  box-shadow: 5px 5px 8px 0 #47888c;
  border: 1px solid #7ba9b0;
}

.Good {
  width: 100%;
  min-width: 150px;
  padding: 10px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: #c13d3d;
  font-weight: bold;
  flex-grow: 1;
}

.article {
  font-size: 12px;
}

.articleText {
  font-weight: bold;
}
.articleValue {}

.color {
  font-size: 12px;
}

.colorText{
  font-weight: bold;
}
.colorValue{}

.bottom {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.actions {
  display: flex;
  gap: 5px;
}

.cart,
.favorites {
  color: #c13d3d;
  cursor: pointer;
  transition: all 300ms ease;
}

.cart:hover,
.favorites:hover {
  color: #ff2929;
}

.price {
  text-align: right;
  font-size: 18px;
  color: #3a957d;
  font-weight: bold;
}

.sum {}
.currency {}

.modalAddCart {
  display: flex;
  font-weight: normal;
  gap: 10px;

  .title,
  .price {
    padding: 0;
    font-size: 14px;
    color: #fff;
  }
}