@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
}

/*--------------HEADER--------------*/
.logo-link {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    color: #000000;
}

header {
    padding: 63px 0 48px;
}

.logo-link span {
    color: #4BCAFF;
}

.header-menu {
    margin-top: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #35444F;
}

.header-list {
    height: 100%;
    display: flex;
    justify-content: center;
}

.header-list li {
    list-style: none;
    padding: 0;
    border-right: 1px solid #fff;
}

.header-list li:first-child {
    padding: 0;
    border-left: 1px solid #fff;
}

.header-link {
    display: flex;
    text-align: center;
    padding: 26px 40px 19px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.header-link:hover {
    background-color: #222F3A;
}
/*--------------HEADER END--------------*/


/*--------------MAIN--------------*/
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 54px;
}

.aside-menu {
    border: 1px solid #000000;
    min-width: 344px;
}

.aside-list {
    display: flex;
    flex-direction: column;
}

.aside-link {
    display: flex;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    padding: 26px 0 26px 44px;
    transition: 0.5s;
}

.aside-link:hover {
    background: #DBDBDB;
    padding-left: 70px;
    transition: 0.5s;
    color: #35444F;
}

.main-block {
    width: 885px;
}

.main-image {
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}

.main-image img {
    width: 320px;
    height: 381px;
    transition: 0.5s;
}

.main-image img:hover {
    transform: scale(120%);
    transition: 0.5s;
}

.main-text p {
    margin-top: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
/*--------------MAIN END--------------*/


/*--------------FOOTER--------------*/
footer {
    margin-bottom: 30px;
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
}

.footer-list {
    display: flex;
    margin: 20px 0 20px 40px;
}

.footer-link {
    margin-right: 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    transition: 0.3s;
}

.footer-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
    transition: 0.3s;
}

.footer-copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin: 20px 40px;
}

/*--------------FOOTER END--------------*/