* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: #FFBE50;
    background-color: #000;
    overflow: hidden;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}
.titles:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

.titles p {
    margin: 0.8em 0;
}

.titles-content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 4s infinite;
}

@keyframes scroll {
    0% {top: 100%;}
    100% {top: -170%;}
}