/*Шрифты Gilam и Circle, используемые в макете, я не нашел в открытом доступе, в верстке использовал Arial*/

/*a {
    text-decoration: none;
}*/

body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    background: #171717;
}

h2 {
    font-size: 50px;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

.button {
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    display: flex;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #463D21;
}

/* HEADER ----------------------------*/
header {
    padding: 37px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callback {
    display: flex;
    align-items: center;
}

.callback a, .projects-title a {
    text-decoration: none;
    line-height: 23px;
    color: #D6AF76;
}

.callback a span {
    color: #FFF;
}

.button-callback a {
    padding: 10px 23px 10px 25px;
}

.button-callback a:before {
    content: url("../img/phone.svg");
    width: 16px;
    height: 16px;
    display: inline-flex;
    margin-right: 8px;
}

/* HEADER END ----------------------------*/

/* NETWORKS ----------------------------*/
.networks {
    padding: 83px 0;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.networks p {
    line-height: 28px;
    max-width: 1182px;
    margin-bottom: 41px;
}

.networks-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-gap: 25px;
    grid-template-areas:
    "Area-1 Area-1 Area-2 Area-2 Area-3 Area-3"
    "Area-4 Area-4 Area-4 Area-5 Area-5 Area-5";
}

.area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 45px;
    line-height: 28px;
}

.area-1 {
    grid-area: Area-1;
    background: #634F2C;
}

.area-2 {
    grid-area: Area-2;
    background: #B4A385;
}

.area-3 {
    grid-area: Area-3;
    background: #E4B564;
}

.area-4 {
    grid-area: Area-4;
    background: #635A4A;
}

.area-5 {
    grid-area: Area-5;
    background: #B08C4D;
}

/* NETWORKS END ----------------------------*/

/* TECHNICS ----------------------------*/
.technics {
    padding: 83px 0 190px 0;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.technics-park {
    margin-top: 94px;
    height: 897px;
    display: flex;
    justify-content: space-between;
}

.technics-park-col {
    width: 467px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    line-height: 23px;
}

.technics-park-col p {
    margin: 44px 0 0 48px;
}

.technics-park-col span {
    font-style: italic;
    font-weight: 400;
}

.technics-park-item1 {
    height: 313px;
    background: #0E0E0E;
    font-weight: 700;
}

.technics-park-item2 {
    height: 560px;
    background: #1F1F1F;
}

.technics-park-item3 {
    height: 439px;
    background: #242424;
    font-weight: 700;
}

.technics-park-item4 {
    height: 405px;
    background: #E4B564;
    margin-bottom: 20px;
    color: #000;
}

.technics-park-item5 {
    height: 255px;
    background: #1F1F1F;
}

.technics-park-item6 {
    height: 313px;
    background: #0E0E0E;
}

.technics-park-item7 {
    height: 277px;
    background: #0A0909;
}

/* TECHNICS END ----------------------------*/

/* PROJECTS ----------------------------*/
.projects {
    background: #0E0E0E;
    padding-top: 100px;
}

.projects-title {
    padding-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button a {
    padding: 10px 34px 10px 40px;
}

.projects-tab {
    display: flex;
    flex-wrap: wrap;
}

.projects-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
    height: 391px;
    cursor: pointer;
}

.projects-item:hover .projects-item-text {
    display: block;
}

.projects-item-text {
    padding: 0 80px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: none;
}

.projects-item:nth-child(1) {
    background: #634F2C;
}

.projects-item:nth-child(2) {
    background: #E8D2ABC2;
}

.projects-item:nth-child(3) {
    background: #E4B564;
}

.projects-item:nth-child(4) {
    background: #635A4A;
}

.projects-item:nth-child(5) {
    background: #B08C4D;
}

.projects-item:nth-child(6) {
    background: #634F2C;
}

/* PROJECTS END ----------------------------*/

footer {
    height: 239px;
}