@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: calc(100vh - 58px);
    min-width: 640px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background: url("../img/Background.jpg") no-repeat center center fixed;
    background-size: cover;
}

input,
button,
textarea {
    font-size: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    transition: 0.3s;
}

ul li {
    list-style: none;
}


/* HEADER --------------------*/
header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
}

.container {
    padding: 18px 79px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

a:hover {
    color: #3CB878;
}

a.logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
}

.header-action {
    display: flex;
    align-items: center;
}

a.action {
    margin-right: 24px;
}

a.action svg {
    fill: #FFF;
}

a.action svg:hover {
    fill: #3CB878;
    transition: 0.3s;
}

.action:last-of-type:after {
    content: "";
    display: inline-block;
    margin-left: 24px;
    width: 2px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header-action p {
    font-size: 14px;
}

/* MAIN --------------------*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

form {
    max-width: 444px;
    max-height: 584px;
    background-color: #FFF;
    position: relative;
}

form:before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 30px;
}

.form-container {
    padding: 30px 60px 38px;

}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.form-header p {
    font-size: 20px;
    line-height: 1;
    color: #434343;
}

.form-header a {
    font-size: 14px;
    line-height: 1;
    color: #3CB878;
}

.form-header a:hover {
    text-decoration: underline;
}

.form-login-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 34px;
}

.login-btn {
    /*padding: 17px 22px;*/
    border-radius: 5px;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    width: 157px;
    height: 46px;
}

.login-btn i {
    font-size: 24px;
    margin: 0 10px;
}

.login-btn i:after {
    content: "";
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.login-btn p {
    margin: 0 auto;
}

.login-btn-facebook {
    background-color: #305DB8;
}

.login-btn-facebook:hover {
    background-color: #022263;
    color: #FFF;
}

.login-btn-google {
    background-color: #DF4A32;
}

.login-btn-google:hover {
    background-color: #AB1F09;
    color: #FFF;
}

.form-container > p {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    color: #848484;
    position: relative;
    margin-bottom: 11px;
}

.form-container > p:before, .form-container > p:after {
    content: "";
    width: 48%;
    height: 1px;
    background-color: #F2F2F2;
    display: inline-block;
    position: absolute;
    top: 8px;
}

.form-container > p:before {
    left: 0;
}

.form-container > p:after {
    right: 0;
}


.form-input {
    width: 100%;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 0 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
}

.form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}


.custom-checkbox-label {
    position: relative;
    font-size: 14px;
    color: #434343;
    margin-left: 8px;
}

.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    top: -2px;
    left: -6px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
}

.custom-checkbox:checked + .checkmark {
    background-color: #FFF;
}

.custom-checkbox:checked + .checkmark:after {
    content: '\2713';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -1px;
    color: #01813F;
    text-align: center;
    font-size: 18px;
}

.terms {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.terms:hover {
    color: #01813F;
    text-decoration: underline;
}

.input_btn {
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFF;
    width: 100%;
    padding: 16px 0;
}

.input_btn:hover {
    background: #01813F;
    cursor: pointer;
    transition: 0.3s;
}

/* FOOTER --------------------*/
