@import "./mixins.scss";

.ProductContainer {
  display: flex;
  background: #f3f3f3;
  border: 4px solid #a1857a;
  max-width: 300px;
}

.Product {
  position: relative;
  padding: 10px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  img {
    width: 100%;
    height: 20%;
    object-fit: cover;
  }
}

.body {
  padding: 0px;
  //display: flex;
  //flex-direction: column;
  //height: 100%;
}

.title {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: #a1857a;
  font-weight: bold;
  flex-grow: 1;
}

.article {
  font-size: 12px;
  color: #49362e;
}

.articleText {
  font-weight: bold;
}
.articleValue {}

.color {
  font-size: 12px;
  color: #49362e;
}

.colorText{
  font-weight: bold;
}
.colorValue{}

.bottom {
  display: flex;
  gap: 10px;
  justify-content: right;
  padding-top: 8px;
  border-top: 2px solid #a1857a;
}
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart,
.favorites {
  cursor: pointer;
  transition: all 300ms ease;
}

.cart {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inCartTxt {
  font-size: 14px;
  color: #49362e;
  font-weight: bold;
  text-transform: uppercase;
}

.inCartCount {
  font-size: 16px;
  color: #49362e;
  font-weight: bold;
  text-transform: uppercase;
}

.favorites {
  position: absolute;
}

.price {
  text-align: center;
  font-size: 18px;
  color: #1479d8;
  font-weight: bold;
}

.sum {}
.currency {}

.modalAddCart {
  display: flex;
  font-weight: normal;
  gap: 10px;

  .title,
  .price {
    padding: 0;
    font-size: 14px;
    color: #fff;
  }

  .sds {
    color: #cc1934;
    background: #1c8646;
  }
}