* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    background: #2B2B2C;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px 60px;
    list-style: none;
}

.twit {
    background: #000001;
    position: relative;
    margin-bottom: 10px;
    color: #D7D9DB;
}

.twit__delete {
    width: 20px;
    height: 19px;
    line-height: 19px;
    border-radius: 50%;
    border: 1px solid #71757A;
    background: #000001;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    color:#D7D9DB;
    font-weight: bold;
}

.twit__delete:hover {
    background: #D7D9DB;
    color: #000001;
}

.twit__user {
    margin: 10px;
}

.user__name {
    font-weight: bold;
    margin-right: 10px;
}

.user__email {
    color: #71757A;
}

.twit__title {
    margin: 5px 10px;
    text-transform: uppercase;
    color: #71757A;
}
.twit__description {
    margin: 5px 10px 10px;
}