.footer {
  background-color: #000000;
  @include flex(row, center, center);
  &-wrapper {
    width: 684px;
    padding: 66px 0 70px;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FEFEFE;
    text-align: center;
    &:before,
    &:after {
      content: " - ";
    }
  }
  &__text {
    margin-top: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #B9B9B9;
  }
  &__icons {
    margin-top: 49px;
    text-align: center;
  }
  &__contacts {
    @include flex(row, center, center, wrap);
    margin-top: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #B9B9B9;
  }
}

@media (max-width: 1199px) {
  .footer-wrapper {
    padding: 57px 0 56px;
  }
}
@media (max-width: 767px) {
  .footer-wrapper {
    padding: 38px 20px 47px;
  }
}