@import "reset";
@import "mixins";

.section-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.posts {
  padding: 69px 0;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
    &:before {
      content: "- ";
    }
  }

  &__items {
    @include flex(row, space-between, flex-start, wrap);
    padding-top: 24px;
  }
  &__item {
    @include flex(row, space-between, flex-start, no-wrap);
    width: 555px;
    height: 140px;
    padding-bottom: 32px;
    &-image {
      width: 160px;
      height: 140px;
    }
    &-body {
      padding-left: 20px;
    }
    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: #4E4E4E;
    }
    &-subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #7C7C7C;
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
      padding-top: 13px;
    }
  }
}

.instagram {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  &__header {
    @include flex(row, space-between, center);
    padding: 47px 0 24px;
  }
  &__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
    &:after {
      content: " -";
    }
  }
  &__body {
    @include flex(row, space-evenly, center);
    overflow: hidden;
    max-width: 1170px;
    height: 285px;
    flex-wrap: wrap;
    margin-bottom: 49px;
  }
  &__image {
    padding-right: 5px;
    width: 285px;
    height: 285px;
  }
}

@media (max-width: 767px) {
  .posts__item-title {
    line-height: 1;
  }
  .posts__item-subtitle {
    line-height: 1;
  }
  .posts__item-text {
    line-height: 1;
  }

  .instagram__title {
    display: none;
  }
  .instagram__body {
    height: 249px;
  }
  .instagram__image {
    width: 249px;
    height: 249px;
  }
}

@media (max-width: 373px) {
  .posts__items {
  max-height: 660px;
    overflow: hidden;
  }

  .posts__item {
    flex-direction: column;
    padding-bottom: 88px;
    &-body {
      padding: 0;
    }
    &-title {
      margin-top: 11px;
    }
    &-text {
      display: none;
    }
  }

  .instagram__image {
    width: 301px;
    height: 301px;
  }

  .instagram__body {
    width: 100%;
    margin-bottom: 42px;
  }
}