@import "reset";
@import "header";
@import "main";
@import "footer";

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 768px;
  }
  @media (max-width: 373px) {
    max-width: 320px;
  }
}